.title{
    font-size: medium;
    align-content: center;
    color: red;
}
.topbar {
    overflow: hidden;
    margin-bottom: 20px;
}

/*
    图片流式布局
*/
.masonry {
    -moz-column-count: 3; /* 火狐 */
    -webkit-column-count: 3; /* Safari 和 谷歌 */
    column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    width: 80%;
    height: 800px;
    margin: 1em auto;
}

.item {
    padding: 1em;
    margin-bottom: 1em;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    background: #b5ffa1;
}
