@page "/"
@page "/{temp}"
@using PictureManager.Pages.Components;
@using Common.Utility;
@inject NavigationManager navigationManager

<h1>Hello, Master!</h1>

Welcome to your world.

<SurveyPrompt Title="This is my picture library, please feel free to visit" />
<PagingComponent Page="@PPage.Value" PageSize="@_pageSize" Count="@_count" HrefString="" />

@code{
    [Parameter]
    public int? PPage { get; set; } = 1;
    [Parameter]
    public string temp { get; set; }
    private int _pageSize = 10;
    private int _count = 0;
    //private int _pages = 0;

    protected override async Task OnInitializedAsync()
    {
        this._count = 100;
        temp = temp ?? "1";
        PPage = Int32.Parse(temp);
        //if (!string.IsNullOrEmpty(navigationManager.QueryString("page")))
        //{
        //    this.Page = int.Parse(navigationManager.QueryString("page"));
        //}
    }

    protected override async Task OnParametersSetAsync()
    {
        temp = temp ?? "1";
        PPage = Int32.Parse(temp);
    }

}
